*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
   

}
nav{
  
    background-color: #FFFFFF;
  
}
.nav-contents{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list ul{

 display: flex;
 list-style: none;
 gap: 32px;

}
.btn{
    width: 164px;
    background-color: #469165;
    color: white;
    padding: 12.5px 16px;
    border-radius: 4px;
}
.nav-contents img{
    margin-top: 21px;
    margin-bottom: 20px;
}
/* Banner-design */
#banner{
    
    max-width: 1600px;
    background-image: url("../images/hero-bg.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0 auto;
    min-height: 540px;
    
    



}
.banner-contents{


text-align: center;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
align-items: center;
margin: 120px auto;


}

    
   


#note{
  display: inline-flex;
  align-items: center;
  padding: 6px 14px;
  border-radius: 60px;
  color: #22c55e;
  background-color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16x;
  max-width: max-content;
  
}
.text{
    max-width: 770px;
    text-align: center;
}
#color{
    color: #30B868;

}
.text-box{
    font-size: 18px;
   
    max-width: 700px;
    line-height: 24px;
    margin-bottom: 32px;
}
.btn1{
    background-color: #30B868;
    color: white;
    padding: 15px;
    
}
.btn2{
    background-color: transparent;
    color: white;
    padding: 15px;
    margin-left: 16px;
}
#logo{
    font-size: 10px;
    margin-right: 6px;
    opacity: 0.5;
}
button{
    cursor: pointer;
}
 #card{
   
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    gap: 44px;
    justify-content: center;
    align-items: center;
}
.card-section{
    display: flex;
    
        max-width: 1100px;
        gap: 10px;
        align-items: center;
        justify-content: center;
    
}
.cards{
 
    width: 400px;
    height: 300px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: center;
   
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;

 
}
.cards img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    
}
.cards h3{
    font-weight: 600;
    font-size: 24px;
    min-height: 48px;
}
.cards p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin: 10px 10px 10px 10px;
    
} 
.info{
   
    min-height: 130px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    


}
.info h2{
    font-size: 48px;
}
.info p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
#design{
    margin: 0 auto;

}

.design-content{
    display: flex;
   
    width: 1360px;
    align-items: center;
    gap: 50px;
    height: 500px;

    margin: 0 auto;
    justify-content: center;

}
.text-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.list-items{
    
    display: flex;
    max-width: max-content;
    gap: 5px;
}
#span{
    color: #469165;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}
.text-container h2{
    font-size: 48px;
    font-weight: bold;
}
.text-container .text{
    font-size: 16px;
    color: #627382;
    line-height: 25px;
    text-align: left;
}
.text-container .list-items{
    font-size: 16px;
    line-height: 20px;
    color: #001931;
}
.image-container img{
    min-width: 600px;
    margin-top: 120px;
}
.text-container{
    margin-top: 120px;
}