*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;

}
nav{
  
    background-color: #FFFFFF;
  
}
.nav-contents{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list ul{

 display: flex;
 list-style: none;
 gap: 32px;

}
.btn{
    width: 164px;
    background-color: #469165;
    color: white;
    padding: 12.5px 16px;
    border-radius: 4px;
}
.nav-contents img{
    margin-top: 21px;
    margin-bottom: 20px;
}